<div class="monster">
  <div class="d-flex justify-content-center">
    <img 
      class="left-arm"
      src='/assets/kenney_monsterbuilderpack/PNG/Default/{{this.arms}}'
    />
    <div class="body">
      <img src='/assets/kenney_monsterbuilderpack/PNG/Default/{{this.body}}' />
      {{{loop_eyes this.num_eyes this.eyes}}}
      <img 
        class="nose"
        src='/assets/kenney_monsterbuilderpack/PNG/Default/{{this.nose}}' 
      />
      <img 
        class="mouth"
        src='/assets/kenney_monsterbuilderpack/PNG/Default/{{this.mouth}}' 
      />
    </div>
    <img 
      class="right-arm"
      src='/assets/kenney_monsterbuilderpack/PNG/Default/{{this.arms}}' 
    />
  </div>
  <div class="d-flex justify-content-center">
    <img 
      class="left-leg"
      src='/assets/kenney_monsterbuilderpack/PNG/Default/{{this.legs}}' 
    />
    <img 
      class="right-leg"
      src='/assets/kenney_monsterbuilderpack/PNG/Default/{{this.legs}}' 
    />
  </div>
</div>